{% load sitetree %}

<div id="page-contents">
    <h1>{% sitetree_page_title from "main" %} </h1>

    <table>
    <tr><td>Stand </td><td>: {{versdat|default:"01.01.1970"}}</td></tr>
    <tr><td>Version </td><td>: {{versnr|default:"0.x"}}</td></tr>
    </table>
    
</div>

