{% load sitetree %}

<div id="page-contents">
    <h1>{% sitetree_page_title from "main" %} </h1>

    <table class="table">
    <tr>
    <th>Bezeichnung</th>
    <a href="{% url 'cms:einkaufdetail' %}" class='btn btn-primary btn-sm active' role='button'>Einfügen</a>
    </tr>
    {% for einkauf in einkaufsliste %}
    <tr>
        <td>{{ einkauf.title }}</td>
        <td><a href="{% url 'cms:einkaufdetail' einkauf.id %}" class='btn btn-primary btn-sm active' role='button'>U</a></td>
        <td><a href="{% url 'cms:einkaufdelete' einkauf.id %}" class='btn btn-primary btn-sm active' role='button'>D</a></td>
    </tr>        
    {% endfor %}
    </table>
</div>

