{% load sitetree %}

<div id="page-contents">
    <h1>{% sitetree_page_title from "main" %} </h1>
    <a href="{% url 'cms:senderdetail' %}" class='btn btn-primary btn-sm active' role='button'>Einfügen</a>
    <table class="table">
    <tr>
    <th>Sender</th>
    </tr>
    {% for sender in senderliste %}
    <tr>
        <td class="col-md-1">{{ sender.nr }}</td>
        <td><a target='_blank' href='{{ sender.link }}'>{{ sender.title }}</a></td>
        <td><a href="{% url 'cms:senderdetail' sender.id %}" class='btn btn-primary btn-sm active' role='button'>U</a></td>
        <td><a href="{% url 'cms:senderdelete' sender.id %}" class='btn btn-primary btn-sm active' role='button'>D</a></td>
    </tr>        
    {% endfor %}
    </table>
</div>

