{%  load sitetree %}

<div class="container">
    <legend>Joorgpython</legend>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        {% sitetree_menu from "main" include "trunk" template "sitetree/menu_bootstrap4.html" %}
    </div>
    <a href="{% url 'cms:senderliste' %}" class='btn btn-primary btn-sm active' role='button'>Zurück</a>
    <form class='form-horizontal' method='post' action='{% url "cms:senderliste" %}' role='form'>
      <div class='table-responsive'>
      <table class='table'>
      <tr>
      <td class='col-md-1'><label>ID:</label></td>
      <td class='col-md-2'>{{ sender.id }}</td>
      </tr>
      <tr>
      <td class='col-md-1'><label>Nr:</label></td>
      <td class='col-md-2'><input type='text' name='nr' value='{{ sender.nr }}'/></td>
      </tr>
      <tr>
      <td class='col-md-1'><label>Sender:</label></td>
      <td class='col-md-2'><input type='text' name='title' value='{{ sender.title }}'/></td>
      </tr>
      <tr>
      <td class='col-md-1'><label>Link:</label></td>
      <td class='col-md-2'><input type='text' name='link' value='{{ sender.link }}'/></td>
      </tr>
      </table>
      </div>
      {% csrf_token %}
      {% if sender.id == None %}
        <input type="hidden" name="neu" value="J" />
        <input type="hidden" name="senderid" value="999" />
      {% else %}
        <input type="hidden" name="neu" value="N" />
        <input type="hidden" name="senderid" value="{{ sender.id }}"/>
      {% endif %}
      <input type="hidden" name="speichern" value="1"/>
      <input type='submit' value='Speichern' />
   </form>
</div>
