{%  load sitetree %}

<div class="container">
    <legend>Joorgpython</legend>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        {% sitetree_menu from "main" include "trunk" template "sitetree/menu_bootstrap4.html" %}
    </div>
    <a href="{% url 'cms:senderliste' %}" class='btn btn-primary btn-sm active' role='button'>Zurück</a>
    <form class='form-horizontal' method='post' action='{% url "cms:senderliste" %}' role='form'>
      <div class="alert alert-warning" role="alert">
      Datensatz '{{ sender.title }}' wirklich löschen?
      </div>      
      {% csrf_token %}
      <input type="hidden" name="senderid" value="{{ sender.id }}"/>
      <input type="hidden" name="loeschen" value="1"/>
      <input type='submit' value='Löschen' />
   </form>
</div>
